---
---

html {
  height: 100%;
}

body {
  background-color: cornflowerblue;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  min-height: 100%;
  padding: 1% 10%;
}

a {
  color: white;
}

header {
  text-align: center;

  h1 {
    font-size: 50px;
  }

  nav a {
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  header h1 {
    font-size: 40px;
  }
}
